[Unit]
Description=Lock the screen
Before=sleep.target suspend.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=":0"
ExecStart=/home/%i/.dotfiles/scripts/applications/blur-lock.sh

[Install]
WantedBy=sleep.target suspend.target
