[Desktop Entry]
Type=Application
Exec=keynav daemonize
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=keynav
Name=keynav
Comment[en_IN]=keyboard mouse pointer navigation
Comment=keyboard mouse pointer navigation
