 [Desktop Entry]
 Encoding=UTF-8
 Version=0.9.4
 Type=Application
 Name=Picom
 Comment=X11 compositor
 Exec=picom --experimental-backends -b
 OnlyShowIn=XFCE;
 StartupNotify=false
 Terminal=false
 Hidden=false
